//Variables
$jumbotron-bg: transparent;

//Colors
$glowing-blue: #2feae8;
$gray: #d9d9d9;
$white: #fdfdfd;
$text-color: #f3f3f3;
$bg-color: #040404;

//Fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700);

//Bootstrap
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/code";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/jumbotron";
@import "../bootstrap/scss/transitions";

//Customizations

html{
    font-family: "Poppins", sans-serif;
}

//navbar
.navbar-trans {
    background: transparent !important;
}

//navbar + jumbotron
.header{
    background-image: linear-gradient(to right bottom, #0f0f0f, #0c0c0c, #080808, #040404, #000000) ;
}
a.nav-link{
    color: $gray!important;
    font-weight: 500;
}
.lens{
    background-image: url('../img/lens.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 500px;
    width: 100%;
    color: #fff;
    margin-top:-86px;
}
.logo{
    min-height: 225px;
    width: 100%;
    background-image: url('../img/brzysky-logo.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}




